Flask==2.0.3
Flask-Login==0.6.0
Flask-WTF==1.0.0
Flask-SQLAlchemy==2.5.1
WTForms==3.0.1
Flask-DebugToolbar==0.11.0
bcrypt==4.0.1
flask-bcrypt==1.0.1
psycopg2-binary==2.9.7
email-validator==2.0.0.post2  # Add this line


