{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
<h2>Change Your Password</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.current_password.label }} {{ form.current_password() }}
    </div>
    <div>
        {{ form.new_password.label }} {{ form.new_password() }}
    </div>
    <div>
        {{ form.confirm_new_password.label }} {{ form.confirm_new_password() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
